In [12]:
# Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Introduction to Data Science Tools

In [13]:
#Exercise 3 - Create a markdown cell for an introduction. (1 pt)

# This notebook summarizes key data science languages, libraries, tools, and basic arithmetic operations.

In [14]:
# Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
'''
- Python
- R
- SQL
- Julia
'''

'\n- Python\n- R\n- SQL\n- Julia\n'

In [15]:
#Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
'''
- Pandas
- NumPy
- Scikit-learn
- TensorFlow
'''

'\n- Pandas\n- NumPy\n- Scikit-learn\n- TensorFlow\n'

In [16]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
'''
| Tool          | Purpose                  |
|---------------|--------------------------|
| Jupyter       | Interactive coding       |
| VS Code       | Code editing             |
| Git           | Version control          |
'''

'\n| Tool          | Purpose                  |\n|---------------|--------------------------|\n| Jupyter       | Interactive coding       |\n| VS Code       | Code editing             |\n| Git           | Version control          |\n'

In [17]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

# Addition
print(5 + 3)   # Output: 8

# Subtraction
print(10 - 4)  # Output: 6

# Multiplication
print(2 * 6)   # Output: 12

# Division
print(15 / 3)  # Output: 5.0 (returns float)

# Floor Division (no remainder)
print(15 // 2) # Output: 7 (drops decimal)

# Modulus (remainder)
print(15 % 2)  # Output: 1

# Exponentiation
print(3 ** 2)  # Output: 9 (3 squared)

8
6
12
5.0
7
1
9

In [18]:
# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

(3 * 4) + 5  # Output: 17

17

In [19]:
# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

minutes = 150
hours = minutes // 60
remaining_minutes = minutes % 60
print(f"{hours}h {remaining_minutes}m")  # Output: 2h 30m

2h 30m

In [20]:
# Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

'''
Objectives:
- List data science languages
- Summarize key libraries
- Demonstrate arithmetic operations
'''

'\nObjectives:\n- List data science languages\n- Summarize key libraries\n- Demonstrate arithmetic operations\n'

In [21]:
# Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

# **Author:** Nilay Kanire