<h1>Data Science Tools and Ecosystem<h1>

This notebook summarizes key data science languages,libraries, tools, and basic arithmetic operations.

Some of the popular languages that Data Scientists use are:
<ol>
    <li> Python</li>
    <li> R </li>
    <li>SQL</li>
    <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

    1. Pandas
    2. NumPy
    3. Scikit-learn
    4. TensorFlow

Data Science Tools -
<table>
    <tr> 
        <th>Tools</th>
    </tr>
    <tr>
        <td>Jupyter</td>
    </tr>
    <tr>
        <td>VS Code</td>
    </tr>
    <tr>
        <td>Git</td>
    </tr>
</table>

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [7]:
# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

(3 * 4) + 5  # This a simple arithmetic expression to mutiply then add integers

17

In [3]:
# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

minutes = 200
hours = minutes // 60           # This will convert 200 minutes to hours by diving by 60.
remaining_minutes = minutes % 60
print(f"{hours}h {remaining_minutes}m")

3h 20m

<b>Objectives:</b>
<ul>
    <li> List data science languages </li>
     <li>Summarize key libraries</li>
     <li>Demonstrate arithmetic operations</li>
</ul>

<h2> Author </h2>

Nilay Kanire